header {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 96px;
  padding: 0 1.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

header.reduced-height {
  flex-basis: 66px;
}

.header-left {
  flex-basis: 20%;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.header-center {
  flex-basis: 60%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem;
}

.page-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-right {
  flex-basis: 20%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header h1 {
  margin: 0;
}
