.loading-dots-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-dots-animation .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50%;
  animation: blinking-dot 1s linear infinite;
  background: white;
}

.loading-dots-animation .dot:nth-child(2) {
  animation-delay: 0.33s;
}

.loading-dots-animation .dot:nth-child(3) {
  animation-delay: 0.66s;
}

@keyframes blinking-dot {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
