.subnav-container {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: rgba(0, 0, 0, 0.22);
  height: 48px;
  padding: 0 1.5rem;
}

.subnav-container-inner {
  flex-basis: 520px;
	flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu-item {
  padding: 6px 14px;
  font-size: 17px;
  cursor: pointer;
  margin-right: 18px;
  border-bottom: 2px solid transparent;
  transition: border-color 100ms ease-in;
}

.menu-item.active {
  border-bottom: 2px solid #0c73cf;
  font-weight: 600;
}

.menu-item:hover {
  border-bottom: 2px solid #0c73cf;
}
