body {
	background-color: #343a40;
	min-width: 320px;
	color: #ffffff;
}

#app {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	min-width: 380px;
}

#main-content {
	padding: 1.5rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1;
	overflow-y: auto;
}

.flex-column {
	flex-flow: column nowrap;
}

.align-stretch {
	align-items: stretch !important;
}

.align-center {
	align-items: center !important;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-column {
	flex-basis: 520px;
	flex-grow: 0;
	flex-shrink: 1;
}

.chart-container {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.hidden {
	display: none;
}

/* Typography */

h1 {
	font-size: 19px;
	font-weight: 600;
}

h2 {
	font-size: 18px;
	margin-bottom: 1rem;
}

h3 {
	font-size: 16px;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: inherit;
	text-decoration: underline;
}

label {
	color: #fff;
}

/* Form */

.form-group {
	position: relative;
}

.form-control,
.form-control:focus {
	background: rgba(256, 256, 256, 0.1);
	border: none;
	color: #f0f0f0;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.form-control::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.3;
}

.form-control:-moz-placeholder {
	color: #fff;
	opacity: 0.3;
}

.form-control::-moz-placeholder {
	color: #fff;
	opacity: 0.3;
}

.form-control:-ms-input-placeholder {
	color: #fff;
	opacity: 0.3;
}

.form-control::-ms-input-placeholder {
	color: #fff;
	opacity: 0.3;
}

.form-control {
	border-bottom: 2px solid transparent;
}

.form-control:focus {
	border-bottom: 2px solid #0c73cf;
}

/* Buttons */

.btn {
	padding: 8px 18px;
}

.icon-button {
	width: 33px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.icon-button.small {
	width: 23px;
	height: 23px;
}

.icon-button:hover {
	opacity: 0.8;
	text-decoration: none;
}

.btn-primary {
	background-color: #0c73cf;
	border: none;
	text-decoration: none;
}

.btn-primary:hover{
	background-color: #0f82d8;
	text-decoration: none;
}
