#lineChart {
  width: 100%;
  color: #ffffff;
}

.line-chart {
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.single-chart .line-chart {
  flex-basis: 100%;
}

.double-charts .line-chart {
  flex-basis: 50%;
}

.multiple-charts .line-chart {
  flex-basis: 33.33333%;
}

@media only screen and (max-width: 1800px) {
  .multiple-charts .line-chart {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 900px) {  
  .double-charts .line-chart {
    flex-basis: 100%;
  }

  .multiple-charts .line-chart {
    flex-basis: 100%;
  }
}
