.action-bar {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.22);
}

.action-bar-inner {
  flex-basis: 520px;
	flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}