#vtk-content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	flex-grow: 1;
  padding: 0;
  overflow: hidden;
}

.viewer-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.viewer {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.viewer-content {
  flex-basis: 100%;
}

.file-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 66px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.fixed-row-70 {
  flex-basis: 90px;
  flex-grow: 0;
  flex-shrink: 0;
}

.btn-white-icon {
  color: #ffffff;
}

.btn-white-icon:hover {
  color: #ffffff;
}

.vtk-geometry-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.15);
}

.geometry-control-group {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.geometry-control-group .form-group {
  margin-bottom: 0;
  flex-grow: 1;
}

.geometry-control-group .form-group .form-label {
  margin-bottom: 0;
}

.with-padding {
  padding: 0 18px;
}