footer {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 96px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

footer.reduced-height {
  flex-basis: 66px;
}
