.custom-range {
  flex-grow: 1;
  -webkit-appearance: none;
  background: transparent;
}

.range-output {
  flex-basis: 30px;
  margin-left: 1rem;
  min-width: 30px;
}

.custom-range::-webkit-slider-runnable-track {
  background: rgba(255,255,255,0.1);
}

.custom-range::-moz-range-track {
  background: rgba(255,255,255,0.1);
}

.custom-range::-webkit-slider-thumb {
  background: #ffffff;
}

.custom-range::-moz-range-thumb {
  background: #ffffff;
}